/* app css stylesheet */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    background-color: #fafafa;
}

.margin-bottom {
    margin-bottom: 20px;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

.align-center {
    text-align: center;
}

#login-form {
    background-color: #ffffff;
}

#profileThumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#searchBox {
    width: 25vw;
    height: 30px;
    max-width: 200px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
}

.headerGroup > ul {
    display: inline-block;
}

#profileTabs * {
    display: inline-block;
}

#profileTabs span {
    margin-right: 50px;
    color: white;
}

.navbar-brand {
    font-family: "Kaushan Script";
    font-size: 3vw;
    color: darkgreen !important;
}

.navbar {
    background-color: #77e681;
    border: 0;
    border-radius: 0;
    padding-bottom: 0;
    padding-top: 5px;
}

#profileTabs, #profileTabs span {
    margin: 0px;
    padding: 0px;
}

#fullnameProfileSpan {
    padding-top: 5px;
}

#navigationTabs a {
    text-decoration: none;
    color: #78787b;
    font-size: 1.7em;
}

#navigationTabs a:active {
    color: white;
}

#navigationTabs a:hover {
    color: white;
}

#navigationTabs a:focus {
    color: white;
}
/*.menu {*/
/*text-align: center;*/
/*list-style: none;*/
/*border-bottom: 0.1em solid black;*/
/*margin-bottom: 2em;*/
/*padding: 0 0 0.5em;*/
/*}*/

/*.menu:before {*/
/*content: "[";*/
/*}*/

/*.menu:after {*/
/*content: "]";*/
/*}*/

/*.menu > li {*/
/*display: inline;*/
/*}*/

/*.menu > li:before {*/
/*content: "|";*/
/*padding-right: 0.3em;*/
/*}*/

/*.menu > li:nth-child(1):before {*/
/*content: "";*/
/*padding: 0;*/
/*}*/

/*h1{*/
/*text-align: center;*/
/*}*/

/*HEADER*/
.affix {
    top: 0;
    width: 100%;
    z-index: 1000;
}

.affix + .container-fluid {
    padding-top: 70px;
}

/*END OF HEADER*/

/* START OF Login Register and Settings FORMS*/
.wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-signin, .form-signup, .form-change-password, .form-change-username, .form-change-fullname {
    max-width: 420px;
    padding: 20px 28px 30px;
    margin: 0 auto;
    /*background-color: #eee;*/
    border: 1px solid #27AE60;
}

.form-signin-heading, .form-signup-heading {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    /*margin-bottom: 0px;*/
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    /*margin-bottom: 20px;*/
    /*border-top-left-radius: 0;*/
    /*border-top-right-radius: 0;*/
}

.after-input {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.no-border-radius {
    border-radius: 0;
}

.colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #27AE60, #c4e17f 50%, #27AE60);
    background-image: -moz-linear-gradient(left, #27AE60, #c4e17f 50%, #27AE60);
    background-image: -o-linear-gradient(left, #27AE60, #c4e17f 50%, #27AE60);
    background-image: linear-gradient(to right, #27AE60, #c4e17f 50%, #27AE60);
}

.btn-primary {
    background-color: #27AE60;
    color: #fff;
    border-color: #2bac19;
}

.btn-primary:hover {
    background-color: #27AE60;
    color: #fff;
    border-color: #2bac19;
}

.btn-primary:active, .btn-primary:focus {
    background-color: #27AE60 !important;
    color: #fff !important;
    border-color: #2bac19 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(86, 204, 66, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

.title-name {
    font-family: "Kaushan Script";
    font-size: 8vw;
    color: #27AE60;
}

/* END OF Login Register and Settings FORMS*/

#profile-header-href {
    padding: 0;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: transparent;
}

.navbar .divider-vertical {
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-right: 1px solid darkgreen;
    border-left: 1px solid darkgreen;
}

.navbar-inverse .divider-vertical {
    border-right-color: darkgreen;
    border-left-color: darkgreen;
}

@media (max-width: 1000px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}