<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pictify</title>
    <meta name="description" content="">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet'
          type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="bower_components/ng-img-crop-full-extended/compile/unminified/ng-img-crop.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css">-->
    <link rel="stylesheet" href="bower_components/nya-bootstrap-select/dist/css/nya-bs-select.min.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="MainCtrl" ng-cloak ng-show="initialized">

<!--FB object init-->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '274319339614842',
            xfbml: true,
            version: 'v2.7'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav ng-show="currentUser" class="navbar navbar-inverse" role="navigation" bs-navbar data-spy="affix">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Pictify</a>

            <input id="searchBox"
                   class="form-control navbar-form"
                   type="text"
                   ng-model="selectedUser"
                   ng-show="currentUser"
                   placeholder="search"
                   title="None"
                   uib-typeahead="user as '' for user in searchUsers($viewValue)"
                   typeahead-template-url="typeaheadTemplate.html"
                   typeahead-editable="false"
                   typeahead-on-select="onSelect(); selectedUser = ''"/>

        </div>
        <span class="nav-divider"></span>
        <div class="collapse navbar-collapse navbar-right headerGroup" id="bs-example-navbar-collapse-2">

            <ul id="profileTabs">
                <li ng-show="currentUser" ng-class="{active: $route.current.activetab == 'profile'}">
                    <a href="#/profile">
                        <div>
                            <img id="profileThumbnail" class="img-responsive" ng-src="{{currentUser
                                                                                        .profilePicture
                                                                                        .image
                                                                                        ._downloadURL}}">
                        </div>
                        <div>
                            <span>{{currentUser.fullname}}</span><br>
                            <span>({{currentUser.username}})</span>
                        </div>
                    </a>
                </li>
            </ul>

            <ul id="navigationTabs" class="nav navbar-nav navbar-right">
                <li ng-show="currentUser" ng-class="{active: $route.current.activetab == 'home'}">
                    <a href="#/">Home</a>
                </li>
                <li ng-show="currentUser" ng-class="{active: $route.current.activetab == 'profile'}">
                    <a href="#/profile">Profile</a>
                </li>

                <li ng-show="!currentUser" ng-class="{active: $route.current.activetab == 'landing'}">
                    <a href="#/landing">Login</a>
                </li>
                <li ng-show="currentUser">
                    <a href="#/" ng-click="logout()">Logout</a>
                </li>

                <li ng-show="currentUser">
                    <a href="#/settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ng-view ng-cloak class="container-fluid"></div>

<!--<div>Angular seed app: v<span app-version></span></div>-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>

<script src="//da189i1jfloii.cloudfront.net/js/kinvey-angular-1.6.10.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.9/angular-filter.min.js"></script>
<script src="bower_components/ng-img-crop-full-extended/compile/unminified/ng-img-crop.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script type='text/javascript' src='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/js/bootstrap-select.min.js"></script>-->
<script src="bower_components/nya-bootstrap-select/dist/js/nya-bs-select.min.js"></script>



<script type="text/ng-template" id="typeaheadTemplate.html">
    <a>
        <div class="searchResultWrapper">
            <img ng-src={{match.model.profilePicture.image._downloadURL}}
                 class="searchResultImage">
            <div class="searchResultText">
                <span ng-bind-html="match.model.fullname | uibTypeaheadHighlight:query"></span>
                <br>
                (<span ng-bind-html="match.model.username | uibTypeaheadHighlight:query"></span>)
            </div>
        </div>
    </a>

    <style>
        .searchResultImage {
            float: left;
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }

        .searchResultWrapper {
            display: inline-block;
            cursor: pointer;
        }

        .dropdown-menu {
            width: 33%;
        }

        .dropdown-menu li {
            margin: 10px;
        }
    </style>
</script>


<script src="app.js"></script>
<script src="home/home.js"></script>
<script src="landing/landing.js"></script>
<script src="profile/profile.js"></script>
<script src="settings/settings.js"></script>
<script src="viewProfile/viewProfile.js"></script>
<script src="services/authentication.js"></script>
<script src="services/facebook.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
