<input ng-hide="currentUser" class="btn btn-warning disabled" ng-disabled="" type="submit" value="Login"
       data-toggle="modal"
       data-target="#loginModal">
<input ng-hide="currentUser" class="btn btn-warning disabled" ng-disabled="" type="submit" value="Register"
       data-toggle="modal"
       data-target="#registerModal">
<input ng-hide="currentUser" class="btn btn-warning" type="submit" value="Login via Facebook" ng-click="loginFbk()">
<input class="btn btn-warning disabled" type="submit" value="Login via Google" ng-click="loginGoogle()">

<div class="row">
    <img ng-src="{{fbkProfilePhotoShow}}"/>
    <h2>{{fbkFullname}}</h2>
</div>

<h1>{{msg}}</h1>
