<style>
    @media (max-width: 500px) {
        #newsFeedContainer {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }

        .newsFeedProfilePic {
            width: 40px !important;
            height: 40px !important;
        }

    }

    @media (max-width: 999px) and (min-width: 501px) {
        #newsFeedContainer {
            margin-left: 10% !important;
            margin-right: 10% !important;
        }

        .newsFeedProfilePic {
            width: 60px !important;
            height: 60px !important;
        }

    }

    .contentSection {
        align-content: center;
        /*max-width: 470px;*/
        /*max-height: 470px;*/
        height: 100%;
        width: 100%;
    }

    #newsFeedContainer {
        margin-left: 20%;
        margin-right: 20%;
    }

    .profileDataHolder {
        height: auto;
        min-width: 250px;
        overflow: hidden;
    }

    .profileDataHolder a {
        color: limegreen;
        text-decoration: none;
        font-size: 1.6em;
    }

    .profileDataHolder a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .profileDataHolder span {
        font-size: 1.3em;
        color: lightgrey;
        cursor: pointer;
    }

    .profileDataHolder span:hover {
        color: darkgrey;
    }

    .feedCaption {
        border-bottom: 2px;
        width: 100%;
        font-size: 1.5em;
        color: limegreen;
    }

    .contentSection {
        width: 100%;
        min-width: 250px;
    }

    .newsFeedProfilePic {
        /*max-width: 60px;*/
        /*max-height: 60px;*/
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }

    .socialSection {
        width: 100%;
        min-width: 250px;
    }

    .newsFeedProfilePic:hover {
        cursor: pointer;
    }
</style>

<style>
    #newsFeedModalImageContainter img {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #newsFeedModalImageCaption {
        float: left;
        margin: 5px;
    }

    .commentsToggler {
        float: right;
        color: darkgrey;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5em;
    }

    .votes {
        font-size: 1.5em;
    }

    .like {
        color: limegreen;
    }

    .like:nth-child(2) {
        margin-right: 5%;
    }

    .dislike {
        color: palevioletred;
    }

    .socialBox {
        margin: 5px;
    }
</style>

<style>
    .thumb {
        margin-bottom: 1.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .thumbnail {
        border: 0;
    }
</style>

<style>
    .followersModalHeader div {
        border-bottom: 2px;
    }

    .followersModalBody img, span {
        cursor: pointer;
    }

    .followersModalBody img {
        width: 40px;
        height: 40px;
    }

    .followersModalBody span {
        color: grey;
    }

    .followersModalBody > div > div {
        margin: 15px;
    }

    .followersModalBody {
        margin-left: 2px;
    }
</style>

<style>
    .imgWrap {
        position: relative;
        cursor: pointer;

    }

    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .imgWrap > a {
        padding: 0;
    }

    div.imgWrap {
        max-height: 400px;
        object-fit: contain;
    }

    .imgWrap img {
        max-height: 400px;
        object-fit: contain;
    }

    .imgDescription {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        visibility: hidden;
        background-color: black;
        opacity: 0;
        color: white;
        font-size: 1.3em;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgWrap:hover .imgDescription {

        visibility: visible;
        /*opacity: 0.7;*/
    }

    div.comments {
        margin-top: 5px;

    }

    .comments p {
        word-wrap: break-word;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto;
    }

    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2 {
        margin: 0px;
        padding: 0px;
    }

    .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 {
        margin: 0px;
        padding: 0px;
    }

    .row {
        padding-left: 5px;
    }
</style>

<div id="newsFeedContainer">
    <div class="panel-group">
        <div infinite-scroll="loadMorePosts()"
             infinite-scroll-distance="0"
             infinite-scroll-disabled="disableScroll">
            <div ng-repeat="feed in newsFeed" class="panel panel-default">
                <div class="profileDataHolder panel panel-heading">
                    <div class="row">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                            <img ng-src={{feed.user.profilePicture.image._downloadURL}}
                                 ng-click="viewProfile(feed.user)"
                                 class="newsFeedProfilePic">
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <a ng-click="viewProfile(feed.user)">
                                {{feed.user.fullname}} <br> ({{feed.user.username}})
                            </a>
                            <br>
                            <span ng-click="showFollowers(feed.user)"
                                  data-toggle="modal"
                                  data-target="#followersModal">
                                        {{feed.user.followersCount}} followers
                                        </span>
                            <br>
                            <span class="time" am-time-ago="feed.picture.date"
                                  ng-click="selectPic(feed.picture)"
                                  data-toggle="modal"
                                  data-target="#newsFeedModal">
                            </span>
                            <!--<div class="row">-->
                            <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
                            <!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
                            <!---->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                            <!--<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>-->
                            <!--<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">-->
                            <!---->
                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>

                </div>
                <div class="panel panel-content contentSection">
                    <div class="feedCaption">
                        {{feed.picture.caption}}
                    </div>
                    <br>
                    <div class="imgWrap center-block">
                        <img class="img-responsive center-block"
                             ng-src="{{feed.picture.image._downloadURL}}">

                        <div class="imgDescription center-block"
                             ng-click="selectPic(feed.picture)"
                             data-toggle="modal"
                             data-target="#newsFeedModal">

                                <span class="glyphicon glyphicon-hand-up votes like">
                                {{feed.picture.votes.likes.length}}</span>
                            <span class="glyphicon glyphicon-hand-down votes dislike">
                                {{feed.picture.votes.dislikes.length}}</span>
                            <span class="glyphicon glyphicon-comment commentsToggler">
                                {{feed.picture.comments.length}}</span>
                        </div>

                    </div>
                </div>
                <div class="panel panel-footer socialSection">
                    <span ng-click="vote(feed.picture, 'like')"
                          class="glyphicon glyphicon-hand-up votes like">
                    </span>
                    <span class="like">{{feed.picture.votes.likes.length}}</span>
                    <span ng-click="vote(feed.picture, 'dislike')"
                          class="glyphicon glyphicon-hand-down votes dislike">
                    </span>
                    <span class="dislike">{{feed.picture.votes.dislikes.length}}</span>
                    <div ng-repeat="comment in feed.picture.comments" class="comments">
                        <p>
                            <span ng-click="getProfileByUsername(comment.username)"
                                  style="
                                  cursor:pointer !important;
                                  color: limegreen !important;">
                            {{comment.username}}
                            </span>:
                            {{comment.content}}
                        </p>
                    </div>
                    <textarea title=""
                              class="form-control comment" rows="2"
                              id="{{'newsFeedCommentBox'+$index}}"></textarea>
                    <button class="btn btn-info"
                            ng-click="comment(feed.picture, 'newsFeedCommentBox' + $index)">
                        Comment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade imageModal" id="followersModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="cleanFollowers()">&times;</button>
                <div class="followersModalHeader">
                    <span>
                        Followers
                    </span>
                </div>
            </div>
            <div class="followersModalBody">
                <div ng-repeat="follower in selectedUserFollowers">
                    <div ng-click="viewProfile(follower)"
                         data-dismiss="modal">
                        <img ng-src="{{follower.profilePicture.image._downloadURL}}">
                        <span>
                            {{follower.fullname}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade imageModal" id="newsFeedModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="socialBox">
                <span class="glyphicon glyphicon-hand-up votes like"
                      ng-click="vote(selectedPicture, 'like')">
                {{selectedPicture.votes.likes.length}}
                </span>
                    <span class="glyphicon glyphicon-hand-down votes dislike"
                          ng-click="vote(selectedPicture, 'dislike')">
                {{selectedPicture.votes.dislikes.length}}
                </span>
                    <span class="glyphicon glyphicon-comment commentsToggler"
                          ng-click="showComments = !showComments">
                {{selectedPicture.comments.length}}
                </span>
                    <br>
                    <span class="commentsToggler"
                          ng-click="showCommentBox = !showCommentBox">
                Comment
                </span>
                    <div class="comments" ng-show="showComments"
                         ng-repeat="commentObj in selectedPicture.comments">
                        <p>
                        <span ng-click="getProfileByUsername(commentObj.username)"
                              style="
                              cursor:pointer !important;
                              color: limegreen !important;"
                              data-dismiss="modal">
                        {{commentObj.username}}
                        </span>:
                            {{commentObj.content}}
                        </p>
                    </div>
                    <div class="form-group" ng-show="showCommentBox || showComments">
                <textarea title="Comment:"
                          class="form-control comment" rows="1"
                          ng-model="commentBoxText">
                </textarea>
                        <button class="btn btn-info"
                                ng-click="comment(selectedPicture, commentBoxText)">
                            Submit
                        </button>
                    </div>
                </div>

                <a class="btn btn-warning btn-sm" download=""
                   href="{{selectedPicture.image._downloadURL}}">
                    Download
                </a>


                <div class="row">
                    <h4 class="modal-title text-center"
                        id="newsFeedModalImageCaption">
                        {{selectedPicture.caption}}
                    </h4>
                </div>
            </div>
            <div class="modal-body" id="newsFeedModalImageContainter">
                <img ng-src="{{selectedPicture.image._downloadURL}}" alt="Wtf">
            </div>
        </div>
    </div>
</div>