<style>
    .contentSection {
        align-content: center;
        max-width: 470px;
        max-height: 470px;
        height: 100%;
        width: 100%;
    }

    #newsFeedContainer {
        margin-left: 200px;
        margin-right: 200px;
    }
    .profileDataHolder {
        display: inline-block;
        width: 100%;
    }

    .profileDataTextWrapper > a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .profileDataTextWrapper {
        text-decoration: none;
        font-size: 1.5em;
    }


    .profileDataTextWrapper > a {
        color: limegreen;
    }

    .profileDataTextWrapper > span {
        color: lightgrey;
    }

    .newsFeedProfilePic {
        width: 60px;
        height: 60px;
        float: left;
    }
    
    .newsFeedProfilePic:hover {
        cursor: pointer;
    }
</style>

<div id="newsFeedContainer">
    <div class="singlePostContainer panel-group">
        <div ng-repeat="user in followedUsers" class="panel panel-default">
            <div class="profileDataHolder panel panel-heading">
                <img ng-src={{user.profilePicture.image._downloadURL}}
                     ng-click="viewProfile(user)"
                     class="img-thumbnail newsFeedProfilePic">

                <div class="profileDataTextWrapper">
                    <a ng-click="viewProfile(user)">
                        {{user.username}}
                    </a>
                    <br>
                    <span>{{user.followersCount}} followers</span>
                </div>
            </div>
            <div class="panel panel-content contentSection">
                the actual new content (pictures mainly)
            </div>
            <div class="panel panel-footer socialSection">
                likes dislikes and comments
            </div>
        </div>
    </div>
</div>