<style>
    div.galContainer {
        position:relative;
        overflow:hidden;
        padding-bottom:10%;
        display: block;
    }

    div.galContainer > img {
        width: 100%;
        height : 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    div.galContainer > img:hover {
        opacity: 0.7;
    }

    #modalImageContainter img {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #viewProfileModalImageCaption {
        float: left;
        margin: 5px;
    }

    .commentsToggler {
        float: right;
        color: darkgrey;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5em;
    }

    .votes {
        font-size: 1.5em;
    }

    .like {
        color: limegreen;
    }

    .dislike {
        color: palevioletred;
    }

    .socialBox {
        margin: 5px;
    }
</style>

<div>{{pageName}}</div>

<div>
    <img ng-src="{{userProfilePic.image._downloadURL}}" alt="">
    <h2>{{user.username}}</h2>
</div>

<div class="row">
    <div ng-repeat="picture in pictures">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-md-4">
            <div class="galContainer">
                <img class="img-responsive"
                     ng-click="selectPic(picture)"
                     ng-src="{{picture.image._downloadURL}}"
                     data-toggle="modal"
                     data-target="#viewProfileModal">
                <div class="socialBox">
                    <span class="glyphicon glyphicon-hand-up votes like"
                          ng-click="vote(picture, 'like')">
                        {{picture.votes.likes.length}}
                    </span>
                    <span class="glyphicon glyphicon-hand-down votes dislike"
                          ng-click="vote(picture, 'dislike')">
                        {{picture.votes.dislikes.length}}
                    </span>
                    <span class="glyphicon glyphicon-comment commentsToggler"
                          ng-click="showComments = !showComments">
                        {{picture.comments.length}}
                    </span>
                    <br>
                    <span class="commentsToggler"
                          ng-click="showCommentBox = !showCommentBox">
                        Comment
                    </span>
                    <div class="comments" ng-show="showComments"
                         ng-repeat="commentObj in picture.comments">
                        {{commentObj.username}}: {{commentObj.content}}
                    </div>
                    <div class="form-group" ng-show="showCommentBox || showComments">
                        <textarea title="Comment:"
                                  class="form-control comment" rows="1"
                                  ng-model="commentBoxText">
                        </textarea>
                        <button class="btn btn-info"
                                ng-click="comment(picture, commentBoxText)">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade imageModal" id="viewProfileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <br>
                <br>
                <div class="row">
                    <h4 class="modal-title text-center"
                        id="viewProfileModalImageCaption">
                        {{selectedPicture.caption}}
                    </h4>
                </div>
            </div>
            <div class="modal-body" id="modalImageContainter">
                <img ng-src="{{selectedPicture.image._downloadURL}}" alt="Wtf">
            </div>
            <div class="modal-footer">
                <span class="glyphicon glyphicon-hand-up votes like"
                      ng-click="vote(selectedPicture, 'like')">
                    {{selectedPicture.votes.likes.length}}
                </span>
                <span class="glyphicon glyphicon-hand-down votes dislike"
                      ng-click="vote(selectedPicture, 'dislike')">
                    {{selectedPicture.votes.dislikes.length}}
                </span>
                <div ng-repeat="commentObj in selectedPicture.comments">
                    {{commentObj.username}}: {{commentObj.content}}
                </div>
            </div>
        </div>
    </div>
</div>