<style>
    /*div.galContainer {*/
    /*position: relative;*/
    /*overflow: hidden;*/
    /*padding-bottom: 10%;*/
    /*display: block;*/
    /*}*/

    div.galleryWrapper img {
        width: 100%;
        height: 100%;
        max-height: 25vh;
        max-width: 100%;
        object-fit: contain;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    /*div.galContainer > img:hover {*/
    /*opacity: 0.7;*/
    /*}*/

    #modalImageContainter img {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #viewProfileModalImageCaption {
        float: left;
        margin: 5px;
    }

    .commentsToggler {
        float: right;
        color: darkgrey;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5em;
    }

    .votes {
        font-size: 1.5em;
    }

    .like {
        color: limegreen;
    }

    .dislike {
        color: palevioletred;
    }

    .socialBox {
        margin: 5px;
    }

</style>

<style>
    #prof-img {
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        float: left;
        margin-right: 12px;
        cursor: pointer;
    }

    .thumb {
        margin-bottom: 1.5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .thumbnail {
        border: 0;
    }
</style>

<style>
    .imgWrap {
        position: relative;
    }

    .imgWrap > a {
        padding: 0;
    }

    .imgDescription {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        visibility: hidden;
        background-color: black;
        opacity: 0;
        color: white;
        font-size: 1.3em;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgWrap:hover .imgDescription {

        visibility: visible;
        opacity: 0.7;
    }

    div.comments {
        margin-top: 5px;

    }

    .comments p {
        word-wrap: break-word;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto;
    }

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

    .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

    .pageDescription {
        width: 100%;
        font-size: 1.8em;
        color: grey;
    }
</style>

<style>
    .followersModalHeader div, .followingModalHeader div {
        border-bottom: 2px;
    }

    .followersModalBody img, span, .followingModalBody img {
        cursor: pointer;
    }

    .followersModalBody img, .followingModalBody img {
        width: 40px;
        height: 40px;
    }

    .followersModalBody span, .followingModalBody span {
        color: grey;
    }

    .followersModalBody > div > div, .followingModalBody > div > div {
        margin: 15px;
    }

    .followersModalBody, .followingModalBody {
        margin-left: 2px;
    }
</style>

<style>
    .profileDataTextWrapper {
        text-decoration: none;
        font-size: 1.5em;
    }

    .profileDataTextWrapper > span {
        color: lightgrey;
        cursor: pointer;
    }

    .profileDataTextWrapper > span:hover {
        color: darkgrey;
    }

    .userFullName {
        font-size: 1.8em;
        color: black;
    }

    .userUsername {
        font-size: 1.6em;;
        color: black;
    }
</style>

<style>

    #prof-img {
        width: 20vh;
        height: 20vh;
        min-width: 150px;
        min-height: 150px;
        border-radius: 50%;
        /*float: left;*/
        margin-right: 12px;
        cursor: pointer;
    }

    .span3 {
        margin: 0 auto;
    }

    .span4 {
        margin: 0 auto;
        width: 50%;
    }

    .centeredProfileInfo {
        text-align: center;
    }

    .centerSimpleItem {
        margin: 0 auto;
    }

    .profileHeader {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .followInfo {
        margin: 0 auto;
        color: lightgrey;
        text-align: center;
    }

    .followInfo span:hover {
        color: grey;
    }

    .galleryAlbumTitle {
        font-family: 'Indie Flower', cursive;
    }
</style>

<div class="pageDescription">
    <p>
        {{pageName}}
    </p>
</div>

<div ng-show="selectedUserProxy">

    <div class="container-fluid profileDataHolder">
        <div class="row">
            <div class="col-xs-7 col-sm-6 col-md-5 col-lg-6">
                <div class="span3">
                    <img ng-src="{{selectedUserProxy.profilePicture.image._downloadURL}}"
                         class="img-responsive"
                         id="prof-img"
                         ng-click="selectPic(selectedUserProxy.profilePicture)"
                         data-toggle="modal"
                         data-target="#viewProfileModal">
                    <div class="centeredProfileInfo">
                        <span class="userFullName">{{selectedUserProxy.fullname}}</span>
                        <br>
                        <span class="userUsername">({{selectedUserProxy.username}})</span>
                    </div>
                    <div class="followInfo">
                        <span ng-click="showFollowers(selectedUserProxy)"
                              data-toggle="modal"
                              data-target="#followersModal">
                        {{selectedUserProxy.followersCount}} followers
                        </span>
                            <span>/</span>
                            <span ng-click="showFollowing(selectedUserProxy)"
                                  data-toggle="modal"
                                  data-target="#followingModal">
                            {{selectedUserProxy.followingCount}} followed
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-5 col-lg-6">
                <div class="span4">
                    <button ng-click="follow()" class="btn btn-primary btn-lg">{{followStatus}}</button>
                </div>
            </div>
            <div class="centerSimpleItem">
                <input type="button" class="btn btn-primary btn-md" value="Show all"
                       ng-click="showAll = true; getGallery()" ng-disabled="showAll"
                       style="cursor: pointer;">
                <input type="button" class="btn btn-primary btn-md" value="Show by albums"
                       ng-click="showAll = false; getGallery()" ng-disabled="!showAll"
                       style="cursor: pointer;">
            </div>

        </div>
    </div>



<!-- Gallery Content Albums -->
<div class="container" ng-hide="showAll" ng-repeat="album in albums">
    <div ng-show="album.pictures.length > 0">
        <h1 class="galleryAlbumTitle">{{album.name}}</h1>
        <hr class="colorgraph">
        <div class="galleryWrapper">
            <div class="row profileHeader">
                <!--<div ng-repeat="picture in pictures">-->
                <!--<div class="clearfix" ng-if="$index % 4 == 0"></div>-->

                <div ng-repeat="picture in album.pictures" class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <div class="imgWrap">
                        <img class="img-responsive"
                             ng-src="{{picture.image._downloadURL}}">

                        <div class="imgDescription"
                             ng-click="selectPic(picture)"
                             data-toggle="modal"
                             data-target="#viewProfileModal">

                                        <span class="glyphicon glyphicon-hand-up votes like"
                                              ng-click="vote(picture, 'like')">
                                        {{picture.votes.likes.length}}</span>
                            <span class="glyphicon glyphicon-hand-down votes dislike"
                                  ng-click="vote(picture, 'dislike')">
                                        {{picture.votes.dislikes.length}}</span>
                            <span class="glyphicon glyphicon-comment commentsToggler">
                                        {{picture.comments.length}}</span>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Gallery Content All -->
<div class="container" ng-show="showAll">
    <div class="galleryWrapper">
        <h1 class="galleryAlbumTitle">All Photos</h1>
        <hr class="colorgraph">
        <div class="row">
            <!--<div ng-repeat="picture in pictures">-->
            <!--<div class="clearfix" ng-if="$index % 4 == 0"></div>-->
            <div ng-repeat="picture in pictures" class="col-lg-3 col-md-4 col-xs-6 thumb">
                <div class="imgWrap">
                    <img class="img-responsive"
                         ng-src="{{picture.image._downloadURL}}">

                    <div class="imgDescription"
                         ng-click="selectPic(picture)"
                         data-toggle="modal"
                         data-target="#viewProfileModal">

                                <span class="glyphicon glyphicon-hand-up votes like"
                                      ng-click="vote(picture, 'like')">
                                {{picture.votes.likes.length}}</span>
                        <span class="glyphicon glyphicon-hand-down votes dislike"
                              ng-click="vote(picture, 'dislike')">
                                {{picture.votes.dislikes.length}}</span>
                        <span class="glyphicon glyphicon-comment commentsToggler">
                                {{picture.comments.length}}</span>
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!-- /.container -->
</div>


<!--View Image Modal-->
<div class="modal fade imageModal" id="viewProfileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="socialBox">
                <span class="glyphicon glyphicon-hand-up votes like"
                      ng-click="vote(selectedPicture, 'like')">
                {{selectedPicture.votes.likes.length}}
                </span>
                    <span class="glyphicon glyphicon-hand-down votes dislike"
                          ng-click="vote(selectedPicture, 'dislike')">
                {{selectedPicture.votes.dislikes.length}}
                </span>
                    <span class="glyphicon glyphicon-comment commentsToggler"
                          ng-click="showComments = !showComments">
                {{selectedPicture.comments.length}}
                </span>
                    <br>
                    <span class="commentsToggler"
                          ng-click="showCommentBox = !showCommentBox">
                Comment
                </span>
                    <div class="comments" ng-show="showComments"
                         ng-repeat="commentObj in selectedPicture.comments">
                        <p>
                            <span ng-click="getProfileByUsername(commentObj.username)"
                                  style="
                                  cursor:pointer !important;
                                  color: limegreen !important;"
                                  data-dismiss="modal">
                            {{commentObj.username}}
                            </span>:
                            {{commentObj.content}}
                        </p>
                    </div>
                    <div class="form-group" ng-show="showCommentBox || showComments">
                <textarea title="Comment:"
                          class="form-control comment" rows="1"
                          ng-model="commentBoxText">
                </textarea>
                        <button class="btn btn-info"
                                ng-click="comment(selectedPicture, commentBoxText)">
                            Submit
                        </button>
                    </div>
                </div>


                <div class="row">
                    <h4 class="modal-title text-center"
                        id="viewProfileModalImageCaption">
                        {{selectedPicture.caption}}
                    </h4>
                </div>
                <a class="btn btn-warning" download=""
                   href="{{selectedPicture.image._downloadURL}}">
                    Download
                </a>
            </div>
            <div class="modal-body" id="modalImageContainter">
                <img ng-src="{{selectedPicture.image._downloadURL}}" alt="Wtf">
            </div>
        </div>
    </div>
</div>
<!--View Image Modal-->

<!--Following Modal-->
<div class="modal fade imageModal" id="followingModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="cleanFollowing()">&times;</button>
                <div class="followingModalHeader">
                    <span>
                        Following
                    </span>
                </div>
            </div>
            <div class="followingModalBody">
                <div ng-repeat="following in selectedUserFollowing">
                    <div ng-click="viewProfile(following)" data-dismiss="modal">
                        <img ng-src="{{following.profilePicture.image._downloadURL}}">
                        <span>
                            {{following.fullname}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END Following Modal-->

<!--Followers Modal-->
<div class="modal fade imageModal" id="followersModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="cleanFollowers()">&times;</button>
                <div class="followersModalHeader">
                    <span>
                        Followers
                    </span>
                </div>
            </div>
            <div class="followersModalBody">
                <div ng-repeat="follower in selectedUserFollowers">
                    <div ng-click="viewProfile(follower)" data-dismiss="modal">
                        <img ng-src="{{follower.profilePicture.image._downloadURL}}">
                        <span>
                            {{follower.fullname}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END Followers Modal-->