<style>
    #userProfImg {
        width: 25%;
        height: 25%;
    }
    div.galContainer {
        position:relative;
        overflow:hidden;
        padding-bottom:10%;
        display: block;
    }

    div.galContainer > img {
        width: 100%;
        height : 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    div.galContainer > img:hover {
        opacity: 0.7;
    }

    #modalImageContainter img {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #modalImageCaption {
        float: left;
    }

    #deletePictureButton {
        float: right;
    }

    #profilePictureSetter {
        float: right;
        margin-right: 5px;
    }

    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width:500px;
        height:350px;
    }

</style>

<p>This is the partial for {{pageName}}.</p>

<div>
    <img ng-src="{{profPic._downloadURL}}" alt="Failed to load" class="img-circle" id="userProfImg">
</div>

<input type="file" file-change handler="fileSelect(files)">
<input type="button" value="Crop Image" ng-click="showCrop()">
<div ng-show="shouldCrop">
    <div class="cropArea">
        <img-crop image="image"
                  result-image="croppedImage"
                  result-blob="croppedImageBlob"
                  area-type="square"
                  result-image-size="400">
        </img-crop>
    </div>

    <div>Cropped image</div>
    <div><img ng-src="{{croppedImage}}" alt=""></div>
</div>
<input type="button" value="Upload" ng-click="upload()">
<input type="button" value="Get" ng-click="get()">

<div class="row">
    <div ng-repeat="image in images">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-md-4">
            <div class="galContainer">
                <img class="img-responsive"
                     ng-click="selectPic(image)"
                     data-toggle="modal"
                     data-target="#imageModal"
                     ng-src="{{image._downloadURL}}">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="modal-title text-center" id="modalImageCaption">{{selectedImage._filename}}</h4>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-warning" ng-click="deletePic(selectedImage)" id="deletePictureButton">
                            DeletePicture
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="setProfilePic(selectedImage)" id="profilePictureSetter">
                            Set as profile picture
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="modalImageContainter">
                <img ng-src="{{selectedImage._downloadURL}}" alt="">
            </div>
            <div class="modal-footer">
               // TODO: bottom line with comments, likes, etc. will go here
            </div>
        </div>
    </div>
</div>