<h1>Change Password</h1>
<h1>TODO: MAKE VALIDATION</h1>
<p>Old Password</p>
<input ng-model="passwordDetails.oldPassword" type="text"><br>
<p>New Password</p>
<input ng-model="passwordDetails.newPassword" type="text"><br>
<p>Repeat New Password</p>
<input ng-model="passwordDetails.repeatNewPassword" type="text">

<input type="submit" ng-click="changePassword(passwordDetails)">
<span ng-show="IsMatch">Passwords have to match!</span>
<hr>

<h1>Change Fullname</h1>
<h1>TODO: MAKE VALIDATION</h1>
<p>New Name</p>
<input ng-model="fullname" type="text">

<input type="submit" ng-click="setFullname(fullname)">

