<style>
    #userProfImg {
        width: 20%;
        height: 20%;
    }
</style>

<p>This is the partial for {{pageName}}.</p>

<div>
    <img src="{{profPic._downloadURL}}" alt="mamkamu" class="img-circle" id="userProfImg">
</div>

<input type="file" multiple file-change handler="fileSelect(files)">

<div class="row" ng-repeat="image in images | groupBy:3">
    <div class="col-md-4" ng-repeat="image in images" >
        <img class="img-thumbnail" ng-dblclick="setProfilePic(image)" src="{{image._downloadURL}}">
    </div>
</div>

<input type="button" value="Upload" ng-click="upload()">
<input type="button" value="Get" ng-click="get()">