<style>
    #userProfImg {
        width: 25%;
        height: 25%;
    }
    div.galContainer {
        position:relative;
        overflow:hidden;
        padding-bottom:100%;
    }

    div.galContainer > img {
        width: 100%;
        height : 100%;
        max-height: 100%;
        max-width: 95%;
        object-fit: contain;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    div.galContainer > img:hover {
        opacity: 0.7;
    }

    #modalImageContainter img {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    #modalImageCaption {
        float: left;
    }

    #deletePictureButton {
        float: right;
    }

    #profilePictureSetter {
        float: right;
        margin-right: 5px;
    }

</style>

<p>This is the partial for {{pageName}}.</p>

<div>
    <img ng-src="{{profPic._downloadURL}}" alt="Failed to load" class="img-circle" id="userProfImg">
</div>

<input type="file" multiple file-change handler="fileSelect(files)">
<input type="button" value="Upload" ng-click="upload()">
<input type="button" value="Get" ng-click="get()">

<div class="row" ng-repeat="imagesGroup in images | groupBy:3">
    <div class="col-md-4" ng-repeat="image in imagesGroup" >
        <div class="galContainer">
            <img class="img-responsive" ng-click="selectPic(image)"
                 data-toggle="modal" data-target="#imageModal" ng-src="{{image._downloadURL}}">
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="modal-title text-center" id="modalImageCaption">{{selectedImage._filename}}</h4>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-warning" ng-click="deletePic(selectedImage)" id="deletePictureButton">
                            DeletePicture
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="setProfilePic(selectedImage)" id="profilePictureSetter">
                            Set as profile picture
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="modalImageContainter">
                <img ng-src="{{selectedImage._downloadURL}}" alt="">
            </div>
            <div class="modal-footer">
               // TODO: bottom line with comments, likes, etc. will go here
            </div>
        </div>
    </div>
</div>