<div class="container">
    <div class="wrapper col-centered">
        <!--<img class="center-block img-responsive" src="resources/logo.png" alt="logo">-->
        <h2 class="text-center title-name">PICTIFY</h2>
    </div>
    <div class="wrapper">
        <form name="loginForm" class="form-signin" ng-show="isRegistered" novalidate>
            <h2 class="form-signin-heading">Login</h2>
            <hr class="colorgraph">
            <br>

            <input type="text" class="form-control" id="username" ng-model="loginUser.username"
                   placeholder="Username" required="required" autofocus=""/>
            <input type="password" class="form-control after-input" id="password" ng-model="loginUser.password"
                   placeholder="Password" required="required"/>
            <div class="text-center">
                <button class="btn btn-lg btn-primary " ng-disabled="loginForm.$invalid" ng-click="login(loginUser)"
                        value="Login">Login
                </button>
                <button class="btn btn-lg btn-primary " ng-click="loginFbk()">via Facebook</button>
                <button class="btn btn-primary btn-lg " ng-click="toggle()">Register?</button>
            </div>
        </form>

        <form name="registerForm" class="form-signup" ng-hide="isRegistered" novalidate>
            <h2 class="form-signup-heading">Register</h2>
            <hr class="colorgraph">
            <br>

            <input type="text" class="form-control" id="reg-username" ng-model="registerUser.username"
                   placeholder="Username" required="required" autofocus=""/>
            <input type="text" class="form-control  no-border-radius" id="full-name" ng-model="registerUser.fullname"
                   placeholder="Full name" required="required"/>
            <input type="password" class="form-control no-border-radius" id="reg-password"
                   ng-model="registerUser.password"
                   placeholder="Password" required="required" min-length="6" max-length="100"/>
            <input type="password" class="form-control after-input" id="reg-repeat-password"
                   ng-model="registerUser.repeatPassword"
                   placeholder="Confirm Password" required="required" min-length="6" max-length="100"/>


            <div class="text-center">
                <button class="btn btn-lg btn-primary " ng-disabled="registerForm.$invalid"
                        ng-click="register(registerUser)" value="Register">Register
                </button>
                <button class="btn btn-lg btn-primary " ng-click="loginFbk()">via Facebook</button>
                <button class="btn btn-primary btn-lg " ng-click="toggle()">Login?</button>
            </div>
            <span ng-show="IsMatch">Passwords have to match!</span>
        </form>
    </div>
</div>