<style>
    .wrapper {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .form-signin, .form-signup {
        max-width: 420px;
        padding: 20px 28px 30px;
        margin: 0 auto;
        /*background-color: #eee;*/
        border: 1px solid #27AE60;
    }

    .form-signin-heading, .form-signup-heading {
        text-align: center;
        margin-bottom: 30px;
    }

    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
    }

    input[type="text"] {
        margin-bottom: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        /*margin-bottom: 20px;*/
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .after-input {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .no-border-radius {
        border-radius: 0;
    }

    .colorgraph {
        height: 7px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #27AE60, #c4e17f 50%, #27AE60);
        background-image: -moz-linear-gradient(left, #27AE60, #c4e17f 50%, #27AE60);
        background-image: -o-linear-gradient(left, #27AE60, #c4e17f 50%, #27AE60);
        background-image: linear-gradient(to right, #27AE60, #c4e17f 50%, #27AE60);
    }

    .btn-primary {
        background-color: #27AE60;
        color: #fff;
        border-color: #2bac19;
    }

    .btn-primary:hover {
        background-color: #27AE60;
        color: #fff;
        border-color: #2bac19;
    }

    .btn-primary:active, .btn-primary:focus {
        background-color: #27AE60 !important;
        color: #fff !important;
        border-color: #2bac19 !important;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        border-color: rgba(86, 204, 66, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
        outline: 0 none;
    }

    .title-name {
        font-family: "Kaushan Script";
        font-size: 8vw;
        color: #27AE60;
    }

</style>
<div class="container">
    <div class="wrapper col-centered">
        <!--<img class="center-block img-responsive" src="resources/logo.png" alt="logo">-->
        <h2 class="text-center title-name">PICTIFY</h2>
    </div>
    <div class="wrapper">
        <form name="loginForm" class="form-signin" ng-show="isRegistered">
            <h2 class="form-signin-heading">Login</h2>
            <hr class="colorgraph">
            <br>

            <input type="text" class="form-control" id="username" ng-model="loginUser.username"
                   placeholder="Username" required="required" autofocus=""/>
            <input type="password" class="form-control after-input" id="password" ng-model="loginUser.password"
                   placeholder="Password" required="required"/>
            <div class="text-center">
                <button class="btn btn-lg btn-primary " ng-disabled="loginForm.$invalid" ng-click="login(loginUser)"
                        value="Login">Login
                </button>
                <button class="btn btn-lg btn-primary " ng-click="loginFbk()">via Facebook</button>
                <button class="btn btn-primary btn-lg " ng-click="toggle()">Register?</button>
            </div>
        </form>

        <form name="registerForm" class="form-signup" ng-hide="isRegistered">
            <h2 class="form-signup-heading">Register</h2>
            <hr class="colorgraph">
            <br>

            <input type="text" class="form-control" id="reg-username" ng-model="registerUser.username"
                   placeholder="Username" required="required" autofocus=""/>
            <input type="text" class="form-control  no-border-radius" id="full-name" ng-model="registerUser.fullname"
                   placeholder="Full name" required="required"/>
            <input type="password" class="form-control no-border-radius" id="reg-password"
                   ng-model="registerUser.password"
                   placeholder="Password" required="required" min-length="6" max-length="100"/>
            <input type="password" class="form-control after-input" id="reg-repeat-password"
                   ng-model="registerUser.repeatPassword"
                   placeholder="Confirm Password" required="required" min-length="6" max-length="100"/>


            <div class="text-center">
                <button class="btn btn-lg btn-primary " ng-disabled="registerForm.$invalid"
                        ng-click="register(registerUser)" value="Register">Register
                </button>
                <button class="btn btn-lg btn-primary " ng-click="loginFbk()">via Facebook</button>
                <button class="btn btn-primary btn-lg " ng-click="toggle()">Login?</button>
            </div>
        </form>
    </div>
</div>